.navbar {
    background-color: #28e4da;
}

.quem-somos {
    background-color: rgb(28, 91, 107);
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #5447cf;
}

.servicos{

}

.bg-footer{
    background-color: #91b3b9;
}